{% extends "user/templates/user_template.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}All Rehearsal{% endblock%}

{% block main%}
<!--Welcome-->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Your Rehearsals 🎻</h1>
        </div>
    </div>
</div>

<!--Create Rehearsal Button-->
<div class="container text-center">
    <a href="{{ url_for('create') }}" class="btn btn-outline-dark btn-lg">Create Rehearsal</a>
</div>

<!--All rehearsals Cards-->

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for group in distinct_groups %}
        <div class="col mb-4">
            <div class="card">

                <div class="card-header">{{ group[0] }}</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for rehearsal in all_rehearsals if group[0] == rehearsal.group %}
                        <li class="list-group-item">
                            <a class="rehearsal-link" href="{{ url_for('rehearsal', rehearsal_id=rehearsal.id) }}">
                                <h5 class="post-date">
                                    {{rehearsal.date.strftime("%A %d %B, %Y")}}
                                    <a href="{{url_for('delete_post', rehearsal_id=rehearsal.id) }}">✘</a>
                                </h5>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>
</div>


{% endblock%}
