{% extends "user/templates/user_template.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}All Rehearsal{% endblock%}

{% block main%}
<!--Welcome-->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Your Rehearsals 🎻</h1>
        </div>
    </div>
</div>
<!--Add a create rehearsal button-->

<div class="container text-center">
    <div class="row">
        <div class="col ">
            <a href="{{ url_for('create') }}" class= "btn btn-outline-dark btn-lg">Create Rehearsal</a>
        </div>
    </div>
</div>
<!---->
<!--Card for rehearsal- all rehearsals in data base with filter  -->


<!--                     -->
<!--        Metronome             -->
<!--<div class="metronome ml-auto">-->

<!--    <iframe src="https://guitarapp.com/metronome.html?embed=true&tempo=120&timeSignature=2&pattern=1"-->
<!--            title="Online Metronome"-->
<!--            style="width: 360px; height:520px; border-style: none; border-radius: 4px;">-->
<!--    </iframe>-->
<!--</div>-->
{% endblock%}