{% extends "user/templates/user_template.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create Goals{% endblock%}

{% block main%}
<!--Welcome-->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Create your rehearsal 🎻</h1>
        </div>
    </div>
</div>


<!---->
<!--Card for rehearsal -->
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('create') }}">Tuning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('create_warmup') }}">Warm up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('create_music') }}">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav active" href="{{ url_for('create_goals') }}">Goals</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Goals</h5>
            <div class="card-body">
                <div class="container-sm tuner">

                </div>
            </div>
        </div>
    </div>
</div>

<!--                     -->
<!--        Metronome             -->
<!--<div class="metronome ml-auto">-->

<!--    <iframe src="https://guitarapp.com/metronome.html?embed=true&tempo=120&timeSignature=2&pattern=1"-->
<!--            title="Online Metronome"-->
<!--            style="width: 360px; height:520px; border-style: none; border-radius: 4px;">-->
<!--    </iframe>-->
<!--</div>-->
{% endblock%}