{% extends "user/templates/user_template.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Warm up{% endblock%}

{% block main%}
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {{ ckeditor.load() }}
                        {{ ckeditor.config(name='body') }}
                        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "outline-dark", "cancel": "outline-danger"}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

