{% extends "user/templates/rehearsal_template.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rehearsal{% endblock%}

{% block main%}

<!---->
<!--Card for rehearsal -->
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs ">
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('rehearsal', rehearsal_id=rehearsal.id) }}">Tuning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav active" href="{{ url_for('warm_up', rehearsal_id=rehearsal.id) }}">Warm up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('fundamentals', rehearsal_id=rehearsal.id) }}">Fundamentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('music', rehearsal_id=rehearsal.id) }}">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('goals', rehearsal_id=rehearsal.id) }}">Goals</a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Warm up</h5>
            <div class="card-text">
                <p>{{rehearsal.warm_up}}</p>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<!--                     -->
<!--        Metronome             -->
<!--<div class="metronome ml-auto">-->

<!--    <iframe src="https://guitarapp.com/metronome.html?embed=true&tempo=120&timeSignature=2&pattern=1"-->
<!--            title="Online Metronome"-->
<!--            style="width: 360px; height:520px; border-style: none; border-radius: 4px;">-->
<!--    </iframe>-->
<!--</div>-->
{% endblock%}