{% extends "public/templates/public_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rehearsal{% endblock%}

{% block main %}


<!--Card for rehearsal -->
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link card-nav active" href="{{ url_for('sample_rehearsal') }}">Tuning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_warm_up') }}">Warm up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_fundamentals') }}">Fundamentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_music') }}">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_goals') }}">Goals</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Let's Start Tuning</h5>
            <div class="card-body">
                <div class="container-sm tuner">
                    <iframe width="100%" height="110px"
                            src="https://gtdb.org/violin_tuner_embed/index.html?background_colour=c777b9&main_colour=9a9ae1&text_colour=ffffff&active_colour=41dfff&active_colour_text=000000&default_sound=legato&htz=440"
                            scrolling="no" title="Guitar Tunings Database Violin Tuner"
                            style="padding: 0!important;border:none!important;overflow: hidden;">
                    </iframe>
                </div>
            </div>
            <a class="btn btn-outline-dark disabled"
               href="#">Edit Rehearsal</a>
        </div>
    </div>
</div>

{% endblock %}