{% extends "public/templates/public_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sample Music{% endblock%}

{% block main %}


<!--Card for rehearsal -->
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_rehearsal') }}">Tuning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_warm_up') }}">Warm up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav " href="{{ url_for('sample_fundamentals') }}">Fundamentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav active" href="{{ url_for('sample_music') }}">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link card-nav" href="{{ url_for('sample_goals') }}">Goals</a>
                </li>
            </ul>
        <div id="view-form">
            <div class="card-body">
                <h5 class="card-title text-start">Music</h5>
                <div class="card-text text-start">
                    <div class="card">
                        <div class="card-body">
                            {% if rehearsal.music|safe == 'None' %}
                            <h4>Click 'Edit Rehearsal' to start enjoying Rehearsify 🥳</h4>
                            {% else %}
                            <p>{{rehearsal.music|safe}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-dark disabled"
               href="{{ url_for('edit_rehearsal', rehearsal_id=rehearsal.id) }}">Edit Rehearsal</a>
        </div>
    </div>
</div>

{% endblock %}